/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #2c7e60;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 3px;
  word-spacing: 4px;
  font-size: 250%;
  color:rgb(126, 170, 245);
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 30px;
  border: solid 1px #888;
  background-color: #9274dd;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 2px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #e8cd6e;
  
  display:inline-flex;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

h2{
  text-align: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(248, 81, 81);
}

p {
  text-align: center;
  text-indent: 6px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(248, 81, 81);
}

