
h1{
  color: red;
  font-size: 200%;
}

p{
    padding: 100px;
    margin-bottom: 10px;
    border: solid 1px #9c23ff;
    background-color: #1D92ff;
  }

  #content{
    background-color: #59d367;
    width: 500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #2b4e5c;
    font-size: 20px;
  }